blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 22px;
  border-left: 5px;
}
blockquote p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
code {
  padding: 3px 4px;
  font-size: 12px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}
table {
  font-size: 12px;
}
ul, ol {
  font-size: 12px;
}