/* CUSTOM CSS
// borrowed from http://twitter.github.com/bootstrap/assets/css/docs.css
// used for presenting Twitter Bootstrap's documentation and examples
*/





  /* Utility
  -------------------------------------------------- */
  .uppercase {
    text-transform: capitalize;
  }

  code {
    color: #999988;
    font-size: 11px;
    border: none;
  }

  pre {
    font-size: 12px;
    line-height: 18px;
  }

  /* Body and structure
  -------------------------------------------------- */
  p, li {
    font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size:16px;
    font-weight: 500;
    line-height: 22px;
  }

  b, strong {
    font-weight: 600;
  }

  /* Icons
  -------------------------------------------------- */

  /* Sections
  -------------------------------------------------- */

  /* Jumbotrons
  -------------------------------------------------- */

  /* Base class
  ------------------------- */
  .jumbotron {
    position: relative;
    padding: 20px;
    color: black;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  }
  .jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
  }
  .jumbotron p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
  }

  /* Masthead (docs home)
  ------------------------- */

  /* Subhead (other pages)
  ------------------------- */
  .subhead {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .subhead h1 {
    font-size: 55px;
  }
  .subhead p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
  }

  /* Footer
  -------------------------------------------------- */

  .footer {
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
  }
  .footer-constrain {
    text-align: center;
  }
  .footer p {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    margin-bottom: 0;
    color: #777;
  }
  .footer-links {
    margin: 10px 0;
  }
  .footer-links li {
    display: inline;
    padding: 0 2px;
  }
  .footer-links li:first-child {
    padding-left: 0;
  }


  /* Misc
  -------------------------------------------------- */


  /* Bootstrap code examples
  -------------------------------------------------- */


  /* Responsive docs
  -------------------------------------------------- */

  /* Sidenav for Docs
  -------------------------------------------------- */

  .tutorial-account {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: gray;
    border: 1px solid #e5e5e5;
    background-color: #F9F9F9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 8px 4px;
  }

  .brand {
    background: url("/images/tutorial.png") 0px 0px no-repeat;
    background-size: Auto 14px;
    padding-left: 20px;
  }

  .tutorial-account > a {
    display: block;
    color: gray;
    font-size: 12px;
    line-height: 14px;
    width: 190px \9;
  }
  .tutorial-account > a:hover {
    color: #08C;
    text-decoration: none;
  }
  .tutorial-account > span > a {
    margin-top: -14px;
    color: gray;
    display: block;
    font-size: 12px;
    line-height: 14px;
    width: 190px \9;
  }
  .tutorial-account > span > a:hover {
    color: #08C;
    text-decoration: none;
  }

  .repotitle {
    text-shadow: 0 .5px 1.5px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    font-weight: 500;
  }

  .tutorial-links {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -14px;
    padding: 8px 14px;
    list-style: none;
  }
  .tutorial-links li {
    color: gray;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-top: 0px;
    margin-right: 26px;
    margin-bottom: -1px;
    margin-left: 0px;
    padding: 5px 14px;
    border: 1px solid #e5e5e5;
  }
  .tutorial-links li > a:hover {
    color: black;
    text-decoration: none;
  }

  .bs-docs-sidenav {
    width: 228px;
    margin: 0px 0 0;
    padding: 0;
    background-color: #fff;
  }
  .bs-docs-sidenav > li > a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    width: 190px \9;
    margin-top: 0px;
    margin-right: 40px;
    margin-bottom: -1px;
    margin-left: 0px;
    padding: 4px 14px;
/*    border: 1px solid #e5e5e5;*/
  }
  .bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
  }
  .bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
  }
  .bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
       -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  }
  /* Chevrons */
  .bs-docs-sidenav .icon-chevron-right {
    display: none;
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
  }
  .bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
  }
  .bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
  }
  .bs-docs-sidenav .active .icon-chevron-right,
  .bs-docs-sidenav .active a:hover .icon-chevron-right {
    opacity: 1;
  }
  .bs-docs-sidenav.affix {
    top: 0px;
  }
  .bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
  }




  /* Responsive
  -------------------------------------------------- */

  /* Desktop large
  ------------------------- */
  @media (min-width: 1200px) {

    .bs-docs-sidenav {
      width: 258px;
    }
    .bs-docs-sidenav > li > a {
      width: 230px \9; /* Override the previous IE8-9 hack */
    }
  }

  /* Desktop
  ------------------------- */
  @media (max-width: 980px) {

    /* When affixed, space properly */
    .bs-docs-sidenav {
      top: 0;
      margin-top: 0px;
      margin-right: 0;
    }
  }

  /* Tablet to desktop
  ------------------------- */
  @media (min-width: 768px) and (max-width: 980px) {

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
      margin-top: -20px; /* Offset bottom margin on .navbar */
    }
    /* Adjust sidenav width */
    .bs-docs-sidenav {
      width: 166px;
      margin-top: 0px;
    }
    .bs-docs-sidenav.affix {
      top: 0;
    }
  }

  /* Tablet
  ------------------------- */
  @media (max-width: 767px) {

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
      padding: 40px 20px;
      margin-top:   -20px; /* Offset bottom margin on .navbar */
      margin-right: -20px;
      margin-left:  -20px;
    }

    /* Sidenav */
    .bs-docs-sidenav {
      width: auto;
      margin-bottom: 20px;
    }
    .bs-docs-sidenav.affix {
      position: static;
      width: auto;
      top: 0;
    }

    /* Unfloat the back to top link in footer */
    .footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .footer p {
      margin-bottom: 9px;
    }
  }

  /* Landscape phones
  ------------------------- */
  @media (max-width: 480px) {

    /* Downsize the jumbotrons */
    .jumbotron h1 {
      font-size: 45px;
    }
    .jumbotron p {
      font-size: 18px;
    }

    /* center align subhead text like the masthead */
    .subhead h1,
    .subhead p {
      text-align: center;
    }

    /* Tighten up footer */
    .footer {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    /* Unfloat the back to top in footer to prevent odd text wrapping */
    .footer .pull-right {
      float: none;
    }
  }


