/****************************************************************************/
/* CSS for offer
/****************************************************************************/

/* #Custom CSS Foundation 5.0.2
================================================== */
.enlarge {
  font-size: 1.2em;
}

.social-sharing {
  text-align:center;
}

/* Buttons */
.button {
  font-family: Lato, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:focus {
  text-decoration: none;
  outline: none;
  outline: 0 auto 0;
  outline-offset: 0;
}

/* Top bar */
/* Hover text decoration */
.top-bar .name h1 a:hover,.top-bar-section li a:not(.button):hover {
  text-decoration: none;
}

.top-bar .name h1 a {
  font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 400 !important;
  margin-top: .5rem;
}

.top-bar .toggle-topbar.menu-icon {
  top: 45%;
}

/* #Themes Styles
================================================== */
/* Masthead */
.masthead {
  background-color: #333;
}

/* Intro */
.intro {
  position: relative;
  background-color: #9a958f;
  background-image: url("http://railsapps.github.io/images/railroad_tracks_blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fd0000;
  padding-top: 3.125rem;
  text-align: right;
}

.intro h1,.intro p {
  color: red;
  margin-right: -60px;
}

.intro h1 {
  font-family: Palatino, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  display: none;
}

.intro p.lead {
  font-size: 1.7rem;
}

.intro .button {
  margin-right: 5px;
}

.intro img {
  position: relative;
  display: block;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.intro .margin-top {
  margin-top: 2.5rem;
}

.button-top {
  margin-top: 2.188rem;
}

/****************************************************************************/
/* CSS for http://railsapps.github.io/
/****************************************************************************/
.top-bar .name {
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 12px;
}
.brand {
  background: url("http://railsapps.github.io/images/rails.png") 8px 50% no-repeat;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #ffffff;
}
h1, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333333;
  margin: 0;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 44px;
}
h3 {
  font-size: 1.25rem;
  line-height: 33px;
}
h4 {
  font-size: 1rem;
  line-height: 22px;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 11px;
  font-size: 15px;
  line-height: 22px;
}
img {
  margin-bottom: 10px;
}
pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    font-size: 12px;
    line-height: 22px;
    margin: 0 0 11px;
    padding: 12.5px;
    white-space: pre-wrap;
    word-break: break-all;
}
code, pre {
    border-radius: 3px;
    color: #333333;
    font-family: Menlo,Monaco,"Courier New",monospace;
    font-size: 14px;
    padding: 0 3px 2px;
}
.footer_nav dt {
  margin-bottom: 0;
  font-size: 12px;
  display: block;
  color: #52595d;
  font-weight: bold;
  line-height: 1.5;
}
.footer_nav dd {
  margin-bottom: 0;
  font-size: 12px;
  display: block;
  margin-left: 0px;
  line-height: 1.5;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 22px;
  border-left: 5px;
}
blockquote p {
  margin-bottom: -14px;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #EAEAEA;
  color: #333;
  background-color: #F8F8F8;
  border-radius: 3px;
}
table {
  font-size: 12px;
}
ul {
  margin-top: -10px;
  font-size: 13px;
}
#post-count {
  display: none;
}
